/* CARROSSEL */
.carrossel_livros{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    padding: 0.5em 0;
}

.swiper-pagination_menu_ativo{
    visibility: hidden;
}

@media screen and (min-width: 1024px){
    .swiper{
        width: 60vw;
    }

    .swiper-button-prev, .swiper-button-next{
        display: block;
    }

    .swiper-pagination{
        padding: 1.5em 0
    }
}

@media screen and (min-width: 1728px) {  
    .swiper{
        width: 40vw;
        align-items: center;
    }

    .carrossel_livros{
        width: 180px;
    }

    .swiper-pagination{
        padding: 3.5em 0 2.5em
    }
}
