:root{
    --gradiente_-_banner: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --gradiente_-_banner_-_cor_01: #002F52;
    --gradiente_-_banner_-_cor_02: #326589;
    --cor_-_icones: #002F52;
    --cor_-_fonte_banner: #FFFFFF;
    --cor_-_fonte_titulo_secoes: #EB9B00;
    --cor_-_fonte_paragrafo_secoes: rgba(0, 0, 0, 0.85);
    --cor_-_fundo_secoes: #EBECEE;
    --cor_-_fundo_cards: #FFFFFF;
}

body{
    background-color: var(--cor_-_fundo_secoes);
}

.cabecalho{
    background-color: var(--cor_-_fundo_cards);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_menu_hamburguer{
    background-image: url("../assets/img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.container_cabecalho{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1em;
}