:root{   
    /*CORES BASE*/
    --cor_-_azul_escuro: #002F52;
    --cor_-_azul_claro: #326589;
    --cor_-_branco_puro: #FFFFFF;
    --cor_-_amarelo: #EB9B00;
    --cor_-_preto: rgba(0, 0, 0, 0.85);
    --cor_-_branco_acinzentado: #EBECEE;
    /*GRADIENTE*/
    --gradiente_azul: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    /*FONTE*/
    --fonte_principal: 'Poppins', sans-serif;
}

body{
    background-color: var(--cor_-_branco_acinzentado);
    font-family: var(--cor_-_preto);
    font-size: 16px;
    font-weight: 400;
}

.cabecalho{
    background-color: var(--cor_-_branco_puro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho_menu_hamburguer{
    background-image: url("../assets/img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 1em;
}

.container_cabecalho{
    display: flex;
    align-items: center;
}

.container_imagem{
    width: 32px;
    padding: 1em;
}

.lista_menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao{
    display: none;
}

.container_botao:checked~.lista_menu{
    display: block;
}

.lista_menu_titulo,
.lista_menu_item{
    background-color: var(--cor_-_branco_puro);
    padding: 1em;
}

.lista_menu_titulo{
    color: var(--cor_-_amarelo);
    font-weight: 700;
}

.lista_menu_item{
    text-transform: uppercase;    
}

.lista_menu_link{
    background: var(--gradiente_azul);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}