@import url("header_styles.css");
@import url("banner_styles.css");
@import url("carrossel_styles.css");
@import url("card_styles.css");

:root{   
    /*CORES BASE*/
    --cor_-_azul_escuro: #002F52;
    --cor_-_azul_claro: #326589;
    --cor_-_branco_puro: #FFFFFF;
    --cor_-_amarelo: #EB9B00;
    --cor_-_preto: rgba(0, 0, 0, 0.85);
    --cor_-_branco_acinzentado: #EBECEE;
    /*GRADIENTE*/
    --gradiente_azul: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    /*FONTE*/
    --fonte_principal: 'Poppins', sans-serif;
}

body{
    background-color: var(--cor_-_branco_acinzentado);
    font-family: var(--fonte_principal);
    font-size: 16px;
    font-weight: 400;
}

.secao_titulo{
    color: var(--cor_-_amarelo);
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--cor_-_branco_puro);
    padding: 1em 0 0.5em 0;
}

